@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;0,900;1,400&display=swap");

html {
  position: relative;
  min-height: 100%;
  background-color: var(--color-med);
}

* {
  padding: 0;
  margin: 0;
  --color-primary: #ee5533;
  --color-dark: #1f2429;
  --color-light: #eef2f7;
  --color-med: #6f7984;
  --color-secondary: #f79122;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}
