<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StatisticumDare</title>
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StatisticumDare.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="header">
        <a asp-page="Home"><img src="~/img/sdlogo.svg" /></a>
        @RenderSection("Header", required: false)
    </div>
    <div class="content">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>